# -*- coding: utf-8 -*-
"""
Created on Tue Jul 25 17:19:04 2023

@author: Imanethepe
"""

 {% extends parent_template|default:"polling/base_polling.html" %}

 {% block title %}
 {{ block.super }} - QuestionsList
 {% endblock %} 
 
 {% block content %}
 
  <h2>Questions List</h2>
  <ul> 
    {% for question in latest_question_list %} 
      <li> 
        <a href="{{question.get_absolute_url}}"> 
          {{ question.question_text|title }}</a>
      </li>      
     {% empty %}
       <li><em>No polls are available.</em></li>
     {% endfor %}
  </ul>  
 {% endblock %}